<div id="content">
    	<div id="menu">
            <h2 id="statusLabel">Turn</h2>
            <h3 id="turn">Red's Turn</h3>
            <hr>
            <h2>Red</h2>
            <h1 id="red">0</h1>
            <hr>
            <h2>Blue</h2>
            <h1 id="blue">0</h1>
            <hr>
            <div id="btnStart" class="button">New game</div>
            <div id="btnIns" class="button">Instructions</div>
		</div>
        <div id="game">
            <table id="board">
                <tbody>
                    <tr>
                        <td id="x1y1"></td>
                        <td id="x1y2"></td>
                        <td id="x1y3"></td>
                        <td id="x1y4"></td>
                        <td id="x1y5"></td>
                        <td id="x1y6"></td>
                        <td id="x1y7"></td>
                    </tr>
                    <tr>
                        <td id="x2y1"></td>
                        <td id="x2y2"></td>
                        <td id="x2y3"></td>
                        <td id="x2y4"></td>
                        <td id="x2y5"></td>
                        <td id="x2y6"></td>
                        <td id="x2y7"></td>
                    </tr>
                    <tr>
                        <td id="x3y1"></td>
                        <td id="x3y2"></td>
                        <td id="x3y3"></td>
                        <td id="x3y4"></td>
                        <td id="x3y5"></td>
                        <td id="x3y6"></td>
                        <td id="x3y7"></td>
                    </tr>
                    <tr>
                        <td id="x4y1"></td>
                        <td id="x4y2"></td>
                        <td id="x4y3"></td>
                        <td id="x4y4"></td>
                        <td id="x4y5"></td>
                        <td id="x4y6"></td>
                        <td id="x4y7"></td>
                    </tr>
                    <tr>
                        <td id="x5y1"></td>
                        <td id="x5y2"></td>
                        <td id="x5y3"></td>
                        <td id="x5y4"></td>
                        <td id="x5y5"></td>
                        <td id="x5y6"></td>
                        <td id="x5y7"></td>
                    </tr>
                    <tr>
                        <td id="x6y1"></td>
                        <td id="x6y2"></td>
                        <td id="x6y3"></td>
                        <td id="x6y4"></td>
                        <td id="x6y5"></td>
                        <td id="x6y6"></td>
                        <td id="x6y7"></td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>